@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1E2A38;
  --primary-muted: #808082;
  --secondary: #FDD224;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--primary);
}


@font-face {
  font-family: 'Satoshi';
  src: url('../asset/satoshi-cdnfonts/Satoshi-Regular.otf');
}

@font-face {
  font-family: 'Recoleta';
  src: url('../asset/recoleta-fonts/Recoleta\ SemiBold.otf');
}

* {
  font-family: "Satoshi", sans-serif;
}

h2{
   font-family: "Recoleta", sans-serif;
}
